.astros-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    place-items: center;
    gap: 30px;
    row-gap: 15px;
    width: 100vw;
}
.astro-card{
    min-width: 280px;
    max-height: 200px;
    background-color: #1a1a1a;
    border: 2px solid #353535;
    border-radius: 25px;
    gap: 1rem;
    padding: 10px 15px;
    cursor: pointer;
    overflow: hidden;
}
.astro-card:hover {
    border-color: #646cff;
  }
.astro-name{
    font-size: 25px;
    font-weight: 600;
}
.astro-craft{
    font-size: 20px;
    font-weight: 600;
}